/* --------- Global style */

body {
    background-color: lightblue;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    background-color: white;
    border: 2px solid pink;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 12pt;
    transition-duration: 0.4s;
}

button:hover {
    background-color: pink;
}

input {
    border: 2px solid lightblue;
    border-radius: 2px;
    font-size: 12pt;
    margin-bottom: 4px;
    outline: none;
}

input:focus {
    border-color: pink;
}

.hide-on-start {
    display: none;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Intro screen */



/* Game layout */

#game-area {
    border: pink outset;
}

/* Media queries */
